# Capstone Project - The Battle of Neighborhoods

## Introduction/Business Problem

Introduction where you discuss the business problem and who would be interested in this project.

#### "Help investor to find the most suitable restaurant to invest?"

Vancouver is right closed to the sea therefore it's quite famous for its seafood. My boss, an American investor just moved here and decided to __become a shareholder of one Seafood restaurant__ and make it the best seafood restaurant in Vancouver.

He has tried top 3 seafood restaurants elected by OpenTable and rated them. He asked me to investigate the top 4-6 restaurants and sent him a report to help him make decisions. 

He told me his ideal restaurant should 
- have some nightlife spot nearby 
- be closed to some bus stop or metro stations
- have some shopping malls around

## Data

Data where you describe the data that will be used to solve the problem and the source of the data.

According to the question, I need to find following data to resolve the problem.

#### 1. Stakeholder's choice

In [1]:
import pandas as pd
df_choice = pd.read_csv('restaurant.csv',index_col=[0])

In [2]:
df_choice

                             Name        lat         lon  rating
1                Ancora Ambleside  49.327349 -123.154458     3.0
2  Boulevard Kitchen & Oyster Bar  49.282718 -123.123883     5.0
3              Oddfish Restaurant  49.270894 -123.147585     4.0

Stakeholder's choice will be used as the profile. I got this data from opentable dinners. The ratings were given by the stakeholder.

#### 2.  Three potential target  restaurants

These three restaurants are top 4 - 6 seafood restaurants listed by Opentable. We are going to find the most suitable one out of three target.

In [3]:
df_cand = pd.read_csv('candidates.csv',index_col=[0])
df_cand

                                   Address        lat         lon
1  Ferris' Upstairs Seafood and Oyster Bar  48.427011 -123.369044
2          Joe Fortes Seafood & Chop House  49.284791 -123.124556
3                 Blue Crab Seafood House   48.421903 -123.379851

#### 3. Nearby venues around places

It is recommended by the stakeholder that the restaurant should be surrounded by some public transport facilities so that diners won't have trouble in visiting the restaurant. If there are some nightlife spots or shopping malls around the corner, diners can find somewhere to go after the excellent dinner. 

Therefore, we are going to use foursquare api to discover the following four categories. We want to see if there are any venues around those restaurant in a radius of 500m.

In [4]:
fs_categories = {
    'Nightlife Spot': '4d4b7105d754a06376d81259',
    'bus stop':'52f2ab2ebcbc57f1066b8b4f',
    'Metro Station': '4bf58dd8d48988d1fd931735',
    'Shopping Mall':'4bf58dd8d48988d1fd941735'
}

We will use the second stakeholder's choice to testify the function of api.

In [5]:
VERSION = '20180604'
CLIENT_ID = 'FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE'
CLIENT_SECRET = 'PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C'
latitude = 49.282718
longitude = -123.123883
category = 'Nightlife Spot'
radius = 500
category_id='4d4b7105d754a06376d81259'

In [6]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&category_id={}&radius={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,VERSION,category,category_id,radius)
url

'https://api.foursquare.com/v2/venues/search?client_id=FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE&client_secret=PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C&ll=49.282718,-123.123883&v=20180604&query=Nightlife Spot&category_id=4d4b7105d754a06376d81259&radius=500'

In [7]:
import requests
result = requests.get(url = url).json()
result

{'meta': {'code': 200, 'requestId': '5e05c252c8cff2001b9f21be'},
 'response': {'venues': [{'id': '4d61dd8c5c39b1f798e7144a',
    'name': 'The G Spot',
    'location': {'address': '1239 barclay',
     'crossStreet': 'bute',
     'lat': 49.2856918,
     'lng': -123.12861206666666,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.2856918,
       'lng': -123.12861206666666}],
     'distance': 476,
     'postalCode': 'V6E 3Y5',
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['1239 barclay (bute)',
      'Vancouver BC V6E 3Y5',
      'Canada']},
    'categories': [{'id': '4bf58dd8d48988d1d6941735',
      'name': 'Strip Club',
      'pluralName': 'Strip Clubs',
      'shortName': 'Strip Club',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/stripclub_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False},
   {'id': '54ca98ee498ecfa9d53ac108',
    'name': "Li'l Cheese Steak Spot",
    'location': {'address': 'Royal Centre Food Court',
     'lat': 49.285246156772054,
     'lng': -123.1205789015411,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.285246156772054,
       'lng': -123.1205789015411}],
     'distance': 369,
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['Royal Centre Food Court',
      'Vancouver BC',
      'Canada']},
    'categories': [{'id': '4bf58dd8d48988d1c5941735',
      'name': 'Sandwich Place',
      'pluralName': 'Sandwich Places',
      'shortName': 'Sandwiches',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/deli_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False},
   {'id': '5c83285a33e118002cd094ac',
    'name': 'The Spot',
    'location': {'address': '933 Seymour St',
     'crossStreet': 'btwn Nelson & Smithe',
     'lat': 49.27937,
     'lng': -123.121268,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.27937,
       'lng': -123.121268}],
     'distance': 418,
     'postalCode': 'V6B',
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['933 Seymour St (btwn Nelson & Smithe)',
      'Vancouver BC V6B',
      'Canada']},
    'categories': [{'id': '4d954b06a243a5684965b473',
      'name': 'Residential Building (Apartment / Condo)',
      'pluralName': 'Residential Buildings (Apartments / Condos)',
      'shortName': 'Residential',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/apartment_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False},
   {'id': '4f296e32e4b092dd9d7d0ad3',
    'name': 'The Healing Spot',
    'location': {'address': '888 Bute Street',
     'crossStreet': 'Barclay',
     'lat': 49.284611,
     'lng': -123.128918,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.284611,
       'lng': -123.128918}],
     'distance': 421,
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['888 Bute Street (Barclay)',
      'Vancouver BC',
      'Canada']},
    'categories': [{'id': '4d954b06a243a5684965b473',
      'name': 'Residential Building (Apartment / Condo)',
      'pluralName': 'Residential Buildings (Apartments / Condos)',
      'shortName': 'Residential',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/apartment_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False},
   {'id': '5678df11498e17b35a76bc68',
    'name': 'Donair Spot',
    'location': {'address': '403 W. Broadway',
     'crossStreet': 'Yukon',
     'lat': 49.279354,
     'lng': -123.118791,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.279354,
       'lng': -123.118791}],
     'distance': 526,
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['403 W. Broadway (Yukon)',
      'Vancouver BC',
      'Canada']},
    'categories': [{'id': '4bf58dd8d48988d10b941735',
      'name': 'Falafel Restaurant',
      'pluralName': 'Falafel Restaurants',
      'shortName': 'Falafel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/falafel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False},
   {'id': '4d49eb2fb480a1435f5a29ec',
    'name': 'White Spot',
    'location': {'address': '580 W Georgia St',
     'crossStreet': 'at Seymour St',
     'lat': 49.281667,
     'lng': -123.11738833,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.281667,
       'lng': -123.11738833}],
     'distance': 485,
     'postalCode': 'V6B 2A3',
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['580 W Georgia St (at Seymour St)',
      'Vancouver BC V6B 2A3',
      'Canada']},
    'categories': [{'id': '4bf58dd8d48988d16c941735',
      'name': 'Burger Joint',
      'pluralName': 'Burger Joints',
      'shortName': 'Burgers',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False},
   {'id': '4aafd7f1f964a520e46420e3',
    'name': "Triple O's",
    'location': {'address': '407B- 1055 Dunsmuir Street',
     'crossStreet': 'in Bentall 4 (at Burrard)',
     'lat': 49.285448618090825,
     'lng': -123.11998959881755,
     'labeledLatLngs': [{'label': 'display',
       'lat': 49.285448618090825,
       'lng': -123.11998959881755}],
     'distance': 415,
     'postalCode': 'V7X 1G4',
     'cc': 'CA',
     'city': 'Vancouver',
     'state': 'BC',
     'country': 'Canada',
     'formattedAddress': ['407B- 1055 Dunsmuir Street (in Bentall 4 (at Burrard))',
      'Vancouver BC V7X 1G4',
      'Canada']},
    'categories': [{'id': '4bf58dd8d48988d16c941735',
      'name': 'Burger Joint',
      'pluralName': 'Burger Joints',
      'shortName': 'Burgers',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1577435734',
    'hasPerk': False}]}}

In [8]:
venues = result['response']['venues']

In [9]:
from pandas.io.json import json_normalize
dataframe = json_normalize(venues)
dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1d6941735', 'name': 'S...",False,4d61dd8c5c39b1f798e7144a,1239 barclay,CA,Vancouver,Canada,bute,476,"[1239 barclay (bute), Vancouver BC V6E 3Y5, Ca...","[{'label': 'display', 'lat': 49.2856918, 'lng'...",49.285692,-123.128612,V6E 3Y5,BC,The G Spot,v-1577435734
1,"[{'id': '4bf58dd8d48988d1c5941735', 'name': 'S...",False,54ca98ee498ecfa9d53ac108,Royal Centre Food Court,CA,Vancouver,Canada,NaN,369,"[Royal Centre Food Court, Vancouver BC, Canada]","[{'label': 'display', 'lat': 49.28524615677205...",49.285246,-123.120579,NaN,BC,Li'l Cheese Steak Spot,v-1577435734
2,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",False,5c83285a33e118002cd094ac,933 Seymour St,CA,Vancouver,Canada,btwn Nelson & Smithe,418,"[933 Seymour St (btwn Nelson & Smithe), Vancou...","[{'label': 'display', 'lat': 49.27937, 'lng': ...",49.279370,-123.121268,V6B,BC,The Spot,v-1577435734
3,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",False,4f296e32e4b092dd9d7d0ad3,888 Bute Street,CA,Vancouver,Canada,Barclay,421,"[888 Bute Street (Barclay), Vancouver BC, Canada]","[{'label': 'display', 'lat': 49.284611, 'lng':...",49.284611,-123.128918,NaN,BC,The Healing Spot,v-1577435734
4,"[{'id': '4bf58dd8d48988d10b941735', 'name': 'F...",False,5678df11498e17b35a76bc68,403 W. Broadway,CA,Vancouver,Canada,Yukon,526,"[403 W. Broadway (Yukon), Vancouver BC, Canada]","[{'label': 'display', 'lat': 49.279354, 'lng':...",49.279354,-123.118791,NaN,BC,Donair Spot,v-1577435734

In [10]:
dataframe.name

0                The G Spot
1    Li'l Cheese Steak Spot
2                  The Spot
3          The Healing Spot
4               Donair Spot
5                White Spot
6                Triple O's
Name: name, dtype: object

We can see that there are 7 nightlife spots around the second restaurant in a radius of 500 meters. 
As we still want to discover the nearby venues around every restaurant, we are going to write a function to help us get all those info.

In [10]:
def venues_nearby(lat,lon,category):
    VERSION = '20180604'
    CLIENT_ID = 'FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE'
    CLIENT_SECRET = 'PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C'
    latitude = lat
    longitude = lon
    category = category
    category_id=fs_categories[category]
    radius = 500
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&category_id={}&radius={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,VERSION,category,category_id,radius)
    result = requests.get(url = url).json()
    venue = result['response']['venues']
    df = json_normalize(venue)
    if( len(df) == 0 ):       
        print("no relevant information")
    else:
        df = df.name
    return df

Let's test it out. We want to find if there are any Metro Station around second restaurant.

In [11]:
df_choice

                             Name        lat         lon  rating
1                Ancora Ambleside  49.327349 -123.154458     5.0
2  Boulevard Kitchen & Oyster Bar  49.282718 -123.123883     4.0
3              Oddfish Restaurant  49.270894 -123.147585     4.0

In [12]:
lat = df_choice.lat[2]
lon = df_choice.lon[2]
lat,lon

(49.282718, -123.123883)

In [15]:
fs_categories

{'Nightlife Spot': '4d4b7105d754a06376d81259',
 'bus stop': '52f2ab2ebcbc57f1066b8b4f',
 'Metro Station': '4bf58dd8d48988d1fd931735',
 'Shopping Mall': '4bf58dd8d48988d1fd941735'}

In [16]:
venues_nearby(lat,lon,'Metro Station')

0                Vancouver City Centre SkyTrain Station
1                              Burrard SkyTrain Station
2                                            Metro News
3                            Granville SkyTrain Station
4                                            metro news
5                              Granville Station Dental
6                      Metrowest Building Services Ltd.
7                          Metropolitan Hotel Vancouver
8                                   J-Station Vancouver
9                                   Metropolitan Towers
10    Metropolitan Local Movers Vancouver - Best Mov...
11                       Metropolitan Community College
12                                                 Esso
13                        Metropolitan Credit Adjusters
14                               WeWork Burrard Station
15    Zipcar Metropolitian Hotel 645 Howe Street & D...
16                             Granville Station Dental
17                        The granville station dentist
18                 International News Granville Station
19                          Library@Metropolitan Towers
20                                           Jugo Juice
21                           Garden@Metropolitan Towers
22                               Bus Stop 58099 (22,44)
23                                          Tim Hortons
24                                            Starbucks
Name: name, dtype: object

How about Nightlife Spot?

In [23]:
venues_nearby(lat,lon,'Nightlife Spot')

0                The G Spot
1    Li'l Cheese Steak Spot
2                  The Spot
3          The Healing Spot
4               Donair Spot
5                White Spot
6                Triple O's
Name: name, dtype: object

How about shopping malls

In [24]:
venues_nearby(lat,lon,'bus stop')

0         Bus Stop 54446 (240,241,242,246,247,N24)
1                   Bus Stop 58705 (250/1/2/3/4/7)
2                      Bus Stop 50045 (2,22,32,44)
3                      Bus Stop 50046 (2,22,32,44)
4        Bus Stop 54832 (4,6,7,10,14,16,50,N9,N17)
5                               Bus Stop 50624 (5)
6                               Bus Stop 50623 (5)
7                            Bus Stop 50616 (5,N6)
8            Bus Stop 61292 (4, 7, 10, 14, 16, 50)
9         Bus Stop 61031 (240,241,242,246,247,N24)
10                     Bus Stop 50030 (2,22,32,44)
11                             Bus Stop 50530 (95)
12                     Bus Stop 50043 (2,22,32,44)
13                              Bus Stop 50626 (5)
14                     Bus Stop 50029 (2,22,32,44)
15        Bus Stop 54444 (240,241,242,246,247,N24)
16                           Bus Stop 58138 (5,N6)
17       Bus Stop 54831 (4,6,7,10,14,16,50,N17,N9)
18                           Bus Stop 61508 (5,N6)
19                     Bus Stop 50044 (2,22,32,44)
20                              Bus Stop 50625 (5)
21                     Bus Stop 50047 (2,22,32,44)
22                     Bus Stop 50031 (2,22,32,44)
23              Bus Stop 58144 (4,6,7,10,14,16,50)
24              Bus Stop 54830 (4,6,7,10,14,16,50)
25    Bus Stop 50975 (240/1/2/6/7,250/1/2/3/4,N24)
26                        Bus Stop 59040 (5,17,20)
27              Bus Stop 58326 (4,6,7,10,14,16,50)
28                     Bus Stop 50028 (2,22,32,44)
29             Bus Stop 50405 (209, 210, 211, 214)
Name: name, dtype: object

We can see the function works well and then we are about to get all the nearby venues around every restaurant.

After the data wrangling part, we got two dataframe.

In [103]:
df_countchoice= pd.read_csv('choice.csv',index_col=[0])
df_countchoice

            nightlife spot  bus stop   metro station   shopping mall
restaurant
1                        0         7               0               0
2                        7        30               5               5
3                        0        17               1               0

In [12]:
df_countcand = pd.read_csv('count_cand.csv',index_col=[0])
df_countcand

            nightlife spot  bus stop   metro station   shopping mall
restaurant
1                        4         5               2               3
2                        6        30               4               5
3                        0         3               0               0

## Methodology

Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, and what machine learnings were used and why.

With the above data, I am able to use the __content-based recommendation algorithm__. 
Stakeholder's rating could be considered as the profile. Combined with the count of his choice, we can get a weighted feature set for his interest. After the normalization, we will get the user profile.

The user profile can be applied on the 3 candidate information and generate a ranking result. From the ranking result, we can make the final decision.

#####  Data Normalization

We need normalization to minor down the effects of large number to the result.

We are going to use the simple feature scaling method.

In [111]:
df_countchoice

            nightlife spot  bus stop   metro station   shopping mall
restaurant
1                      0.0      0.23             0.0             0.6
2                      1.0      1.00             1.0             1.0
3                      0.0      0.56             0.2             0.0

Next, we need to extract the stakeholder's rating and make a series.

In [51]:
df_rating = df_choice.rating
df_rating

1    3.0
2    5.0
3    4.0
Name: rating, dtype: float64

Here we dot product the two metrices to get the weighted matrics.

In [113]:
user_profile = df_countchoice.transpose().dot(df_rating)
user_profile

nightlife spot    5.00
bus stop          7.93
 metro station    5.80
 shopping mall    6.80
dtype: float64

Now we get the user profile. For the next step, we will apply it to the candidate dataframe to get a weighted preference matrix.

Before the combination, we need to