# Capstone Project - The Battle of Neighborhoods

## Introduction/Business Problem

Introduction where you discuss the business problem and who would be interested in this project.

#### "Would you recommend a location in Vancouver to open a new Seafood restaurant ?"

Vancouver is closed to the sea therefore it's quite famous for its seafood. My boss, an American investor just moved here and decided to buy one Seafood restaurant and make it the best seafood restaurants in Vancouver.

He has tried top 3 seafood restaurants elected by OpenTable and rated them. He asked me to investigate the top 4-6 restaurants and sent him a report to help him make decisions. 

He told me his ideal restaurant should 
- be near public transport facilities
- be closed to waterfront

## Data

Data where you describe the data that will be used to solve the problem and the source of the data.

According to the question, I need to find following data to resolve the problem.

#### 1. Stakeholder's choice

In [1]:
import pandas as pd
df_choice = pd.read_csv('restaurant.csv',index_col=[0])

In [2]:
df_choice

                             Name        lat         lon  rating
1                Ancora Ambleside  49.327349 -123.154458     5.0
2  Boulevard Kitchen & Oyster Bar  49.282718 -123.123883     4.0
3              Oddfish Restaurant  49.270894 -123.147585     4.0

#### 2.  Four possible  places

I randomly chose four places from google map and get the coordinates down into the csv file.

In [3]:
df_cand = pd.read_csv('candidates.csv',index_col=[0])
df_cand

                                   Address        lat         lon
1  Ferris' Upstairs Seafood and Oyster Bar  48.427011 -123.369044
2          Joe Fortes Seafood & Chop House  49.284791 -123.124556
3                 Blue Crab Seafood House   48.421903 -123.379851

#### 3. Nearby venues around places

It is recommended by the stakeholder that the restaurant should be surrounded by some public transport facilities. Therefore, we are going to discover the following three categories. We will use foursquare api to get those info.

In [4]:
fs_categories = {
    'Waterfront':'56aa371be4b08b9a8d5734c3',
    'Metro Station': '4bf58dd8d48988d1fd931735',
    'bus stop': '52f2ab2ebcbc57f1066b8b4f'
}

We will use the first stakeholder's choice to testify the function of api.

In [9]:
VERSION = '20180604'
CLIENT_ID = 'FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE'
CLIENT_SECRET = 'PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C'
latitude = 49.327349
longitude = -123.154458
category = 'Waterfront'
radius = 500
category_id='56aa371be4b08b9a8d5734c3'

In [10]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&category_id={}&radius={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,VERSION,category,category_id,radius)
url

'https://api.foursquare.com/v2/venues/search?client_id=FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE&client_secret=PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C&ll=49.327349,-123.154458&v=20180604&query=Waterfront&category_id=56aa371be4b08b9a8d5734c3&radius=500'

In [11]:
import requests
result = requests.get(url = url).json()
result

{'meta': {'code': 200, 'requestId': '5e045a08aba297001bd58ef3'},
 'response': {'venues': []}}

In [12]:
venues = result['response']['venues']

In [104]:
from pandas.io.json import json_normalize
dataframe = json_normalize(venues)
dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d12b951735', 'name': 'B...",False,4df0dbd3b0fbfee72f409017,Marine Dr,CA,West Vancouver,Canada,at 14th St,71,"[Marine Dr (at 14th St), West Vancouver BC, Ca...","[{'label': 'display', 'lat': 49.327849, 'lng':...",49.327849,-123.153830,NaN,BC,"Bus Stop 54602 (250-256,258)",v-1577333278
1,"[{'id': '4bf58dd8d48988d1fe931735', 'name': 'B...",False,4ad4abb8f964a52096e820e3,Marine Dr,CA,West Vancouver,Canada,at 15 St,181,"[Marine Dr (at 15 St), West Vancouver BC, Canada]","[{'label': 'display', 'lat': 49.328202, 'lng':...",49.328202,-123.156595,NaN,BC,Bus Stop 54601 (250/1/2/3/5/6/8),v-1577333278
2,"[{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'B...",False,4cd76dc8a42b236a70d3fa08,Marine Dr,CA,West Vancouver,Canada,at 17th St,414,"[Marine Dr (at 17th St), West Vancouver BC, Ca...","[{'label': 'display', 'lat': 49.32856, 'lng': ...",49.328560,-123.159855,NaN,BC,"Bus Stop 54600 (250,251,252,253,255,256,258)",v-1577333278
3,"[{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'B...",False,5c6b6a00e07550002cbbf6e3,NaN,CA,West Vancouver,Canada,NaN,79,"[West Vancouver BC V7T 1B8, Canada]","[{'label': 'display', 'lat': 49.328047, 'lng':...",49.328047,-123.154716,V7T 1B8,BC,Bus Stop 54780,v-1577333278
4,"[{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'B...",False,5d57ad12fc051f00072e89b2,NaN,CA,West Vancouver,Canada,NaN,222,"[West Vancouver BC V7V 1H9, Canada]","[{'label': 'display', 'lat': 49.328402, 'lng':...",49.328402,-123.157059,V7V 1H9,BC,Bus Stop 54612,v-1577333278

In [151]:
dataframe.name

0                    Bus Stop 54602 (250-256,258)
1                Bus Stop 54601 (250/1/2/3/5/6/8)
2    Bus Stop 54600 (250,251,252,253,255,256,258)
3                                  Bus Stop 54780
4                                  Bus Stop 54612
5                                  Bus Stop 54613
6                Winstanley Business Advisors Ltd
Name: name, dtype: object

We can see that there are 7 bus stops around the first restaurant in a radius of 500 meters. 
As we still want to discover the nearby venues around the restaurant, we are going to write a function to help us get all those info.

In [155]:
def venues_nearby(lat,lon,category):
    VERSION = '20180604'
    CLIENT_ID = 'FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE'
    CLIENT_SECRET = 'PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C'
    latitude = lat
    longitude = lon
    category = category
    category_id=fs_categories[category]
    radius = 500
    result = requests.get(url = url).json()
    venues = result['response']['venues']
    dataframe = json_normalize(venues)
    df= dataframe['name']
    return df

Let's test it out. We want to find if there are any waterfront around first restaurant.

In [144]:
df_choice

                             Name        lat         lon  rating
1                Ancora Ambleside  49.327349 -123.154458     5.0
2  Boulevard Kitchen & Oyster Bar  49.282718 -123.123883     4.0
3              Oddfish Restaurant  49.270894 -123.147585     4.0

In [148]:
lat = df_choice.lat[1]
lon = df_choice.lon[1]
lat,lon

(49.327349, -123.154458)

In [165]:
venues_nearby(lat,lon,'Waterfront')

0                    Bus Stop 54602 (250-256,258)
1                Bus Stop 54601 (250/1/2/3/5/6/8)
2    Bus Stop 54600 (250,251,252,253,255,256,258)
3                                  Bus Stop 54780
4                                  Bus Stop 54612
5                                  Bus Stop 54613
6                Winstanley Business Advisors Ltd
Name: name, dtype: object