# Capstone Project - The Battle of Neighborhoods

## Introduction/Business Problem

Introduction where you discuss the business problem and who would be interested in this project.

#### "Help investor to find the most suitable restaurant to invest?"

Vancouver is right closed to the sea therefore it's quite famous for its seafood. My boss, an American investor just moved here and decided to __become a shareholder of one Seafood restaurant__ and make it the best seafood restaurant in Vancouver.

He has tried top 3 seafood restaurants elected by OpenTable and rated them. He asked me to investigate the top 4-6 restaurants and sent him a report to help him make decisions. 

He told me his ideal restaurant should 
- have some nightlife spot nearby 
- be closed to some bus stop or metro stations
- have some shopping malls around

## Data

Data where you describe the data that will be used to solve the problem and the source of the data.

According to the question, I need to find following data to resolve the problem.

#### 1. Stakeholder's choice

In [1]:
import pandas as pd
df_choice = pd.read_csv('restaurant.csv',index_col=[0])

In [2]:
df_choice

                             Name        lat         lon  rating
1                Ancora Ambleside  49.327349 -123.154458     5.0
2  Boulevard Kitchen & Oyster Bar  49.282718 -123.123883     4.0
3              Oddfish Restaurant  49.270894 -123.147585     4.0

Stakeholder's choice will be used as the profile. I got this data from opentable dinners. The ratings were given by the stakeholder.

#### 2.  Three potential target  restaurants

These three restaurants are top 4 - 6 seafood restaurants listed by Opentable. We are going to find the most suitable one out of three target.

In [2]:
df_cand = pd.read_csv('candidates.csv',index_col=[0])
df_cand

                                   Address        lat         lon
1  Ferris' Upstairs Seafood and Oyster Bar  48.427011 -123.369044
2          Joe Fortes Seafood & Chop House  49.284791 -123.124556
3                 Blue Crab Seafood House   48.421903 -123.379851

#### 3. Nearby venues around places

In [3]:
fs_categories = {
    'Nightlife Spot': '4d4b7105d754a06376d81259',
    'bus stop': '52f2ab2ebcbc57f1066b8b4f',
    'Metro Station': '4bf58dd8d48988d1fd931735',
    'Shopping Mall':'4bf58dd8d48988d1fd941735'
}

In [4]:
def venues_nearby(lat,lon,category):
    VERSION = '20180604'
    CLIENT_ID = 'FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE'
    CLIENT_SECRET = 'PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C'
    latitude = lat
    longitude = lon
    category = category
    category_id=fs_categories[category]
    radius = 500
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&category_id={}&radius={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,VERSION,category,category_id,radius)
    result = requests.get(url = url).json()
    venue = result['response']['venues']
    df = json_normalize(venue)
    if( len(df) == 0 ):       
        print("no relevant information")
    else:
        df = df.name
    return df

Now we are going to discover the no.1 restaurant.

In [5]:
df_cand

                                   Address        lat         lon
1  Ferris' Upstairs Seafood and Oyster Bar  48.427011 -123.369044
2          Joe Fortes Seafood & Chop House  49.284791 -123.124556
3                 Blue Crab Seafood House   48.421903 -123.379851

In [14]:
lat = df_cand.lat[1]
lon = df_cand.lon[1]
lat,lon

(48.427011, -123.36904399999999)

In [7]:
fs_categories

{'Nightlife Spot': '4d4b7105d754a06376d81259',
 'bus stop': '52f2ab2ebcbc57f1066b8b4f',
 'Metro Station': '4bf58dd8d48988d1fd931735',
 'Shopping Mall': '4bf58dd8d48988d1fd941735'}

In [8]:
import requests
from pandas.io.json import json_normalize

In [35]:
df = venues_nearby(lat,lon,'Nightlife Spot')

no relevant information

There is no nightlife spot around first restaurant.

How about bus stop?

In [11]:
venues_nearby(lat,lon,'bus stop')

0                    Bus Stop 54602 (250-256,258)
1                Bus Stop 54601 (250/1/2/3/5/6/8)
2    Bus Stop 54600 (250,251,252,253,255,256,258)
3                                  Bus Stop 54780
4                                  Bus Stop 54612
5                                  Bus Stop 54613
6                Winstanley Business Advisors Ltd
Name: name, dtype: object

In [10]:
df.count()

7

7 bus stops

How about metro station?

In [12]:
venues_nearby(lat,lon,'Metro Station')

no relevant information

Empty DataFrame
Columns: []
Index: []

no metro station

In [13]:
venues_nearby(lat,lon,'Shopping Mall')

no relevant information

Empty DataFrame
Columns: []
Index: []

no shopping mall

After the first around, we get there are 0 nightlife spot, 7 bus stop,0 metro station and 0 shopping mall around first restaurant.

#### 2nd restaurant

In [42]:
lat = df_choice.lat[2]
lon = df_choice.lon[2]
lat,lon

(49.282718, -123.123883)

In [44]:
venues_nearby(lat,lon,'Nightlife Spot')

0    Li'l Cheese Steak Spot
1                  The Spot
2          The Healing Spot
3                The G Spot
4               Donair Spot
5                White Spot
6                Triple O's
Name: name, dtype: object

7 nightlife spots

In [45]:
venues_nearby(lat,lon,'bus stop')

0                   Bus Stop 58705 (250/1/2/3/4/7)
1         Bus Stop 54446 (240,241,242,246,247,N24)
2                      Bus Stop 50045 (2,22,32,44)
3                      Bus Stop 50046 (2,22,32,44)
4                               Bus Stop 50624 (5)
5        Bus Stop 54832 (4,6,7,10,14,16,50,N9,N17)
6                               Bus Stop 50623 (5)
7                            Bus Stop 50616 (5,N6)
8            Bus Stop 61292 (4, 7, 10, 14, 16, 50)
9         Bus Stop 61031 (240,241,242,246,247,N24)
10                     Bus Stop 50030 (2,22,32,44)
11                             Bus Stop 50530 (95)
12        Bus Stop 54444 (240,241,242,246,247,N24)
13                     Bus Stop 50029 (2,22,32,44)
14                           Bus Stop 58138 (5,N6)
15       Bus Stop 54831 (4,6,7,10,14,16,50,N17,N9)
16                     Bus Stop 50044 (2,22,32,44)
17                           Bus Stop 61508 (5,N6)
18                              Bus Stop 50625 (5)
19                     Bus Stop 50047 (2,22,32,44)
20                     Bus Stop 50031 (2,22,32,44)
21              Bus Stop 58144 (4,6,7,10,14,16,50)
22              Bus Stop 54830 (4,6,7,10,14,16,50)
23                        Bus Stop 59040 (5,17,20)
24              Bus Stop 58326 (4,6,7,10,14,16,50)
25    Bus Stop 50975 (240/1/2/6/7,250/1/2/3/4,N24)
26                     Bus Stop 50028 (2,22,32,44)
27             Bus Stop 50405 (209, 210, 211, 214)
28      Bus Stop 61293 (4,5,6,7,10,14,16,17,20,50)
29                     Bus Stop 50043 (2,22,32,44)
Name: name, dtype: object

30 bus stops

In [46]:
venues_nearby(lat,lon,'Metro Station')

0                Vancouver City Centre SkyTrain Station
1                              Burrard SkyTrain Station
2                                            Metro News
3                            Granville SkyTrain Station
4                                            metro news
5                      Metrowest Building Services Ltd.
6                              Granville Station Dental
7                          Metropolitan Hotel Vancouver
8                                   J-Station Vancouver
9                                   Metropolitan Towers
10    Metropolitan Local Movers Vancouver - Best Mov...
11                       Metropolitan Community College
12                        Metropolitan Credit Adjusters
13                                                 Esso
14                               WeWork Burrard Station
15    Zipcar Metropolitian Hotel 645 Howe Street & D...
16                             Granville Station Dental
17                        The granville station dentist
18                 International News Granville Station
19                          Library@Metropolitan Towers
20                                           Jugo Juice
21                           Garden@Metropolitan Towers
22                               Bus Stop 58099 (22,44)
23                                          Tim Hortons
24                                            Starbucks
Name: name, dtype: object

Here is the problem. I have checked the category_id of the metro station and that's correct. However, we could see some irrelevant information here. So I can only manually count them.

5 metro stations

In [49]:
venues_nearby(lat,lon,'Shopping Mall')

0                  CF Pacific Centre
1               Apple Pacific Centre
2                     Granville Mall
3              Vancouver Centre Mall
4             Granville Mall Optical
5          Pacific Centre Food Court
6                       Royal Centre
7     Personal Shopping Holt Renfrew
8                             Rexall
9                     RBC Royal Bank
10               Teriyaki Experience
Name: name, dtype: object

Same problem here and there is nothing wrong with my code. Count manually again. 5 shopping malls.

#### 3rd restaurant

In [50]:
lat = df_choice.lat[3]
lon = df_choice.lon[3]
lat,lon

(49.270894, -123.147585)

In [51]:
venues_nearby(lat,lon,'Nightlife Spot')

no relevant information

Empty DataFrame
Columns: []
Index: []

In [52]:
venues_nearby(lat,lon,'bus stop')

0                    Bus Stop 50072 (2,22,32)
1                         Bus Stop 51941 (44)
2                    Bus Stop 50101 (2,22,32)
3                    Bus Stop 50071 (2,22,32)
4                         Bus Stop 51941 (44)
5                    Bus Stop 50069 (2,22,32)
6                        Bus Stop 50399 (4,7)
7                     Bus Stop 50579 (4,7,84)
8                     Bus Stop 50400 (4,7,84)
9                        Bus Stop 50580 (4,7)
10                   Bus Stop 50070 (2,22,32)
11                       Bus Stop 50398 (4,7)
12                        Bus Stop 52062 (50)
13                       Bus Stop 50581 (4,7)
14                        Bus Stop 52065 (50)
15                        Bus Stop 58661 (50)
16                        Bus Stop 52061 (50)
17             Bus 84 Express UBC/VCC Station
18                     Ellis Business Lawyers
19                   Business Now Service Inc
20                            Is Biggest Bush
21    Vancouver Trolley Stop Granville Island
22                  lululemon athletica | SSC
23                  Padgett Business Services
Name: name, dtype: object

In [53]:
venues_nearby(lat,lon,'Metro Station')

0    Bus 84 Express UBC/VCC Station
1                              Esso
2                 Avalon Stationery
Name: name, dtype: object

In [54]:
venues_nearby(lat,lon,'Shopping Mall')

no relevant information

Empty DataFrame
Columns: []
Index: []

In conclusion, 0 nightlife spot, 17 bus stops, 1 metro station, 0 shopping mall.

And then,we are able to get the following dataframe.

In [60]:
df_choice_count = pd.read_csv('choice.csv',index_col=[0])
df_choice_count

            nightlife spot  bus stop   metro station   shopping mall
restaurant
1                        0         7               0               0
2                        7        30               5               5
3                        0        17               1               0

For the next step, we are going to implement the same method to get the count of the nearby