# Capstone Project - The Battle of Neighborhoods

## Introduction/Business Problem

Introduction where you discuss the business problem and who would be interested in this project.

#### "Would you recommend a location in Toronto to open a new Canadian style restaurant ?"

My boss, a stakeholder is dedicated to opening __a new Canadian style restaurant__ in Toronto. He has almost prepared everything well. Right now, the only thing that he concerns is to find an appropriate place. 

He right now has discovered **4** available rental places which are suitable to open a restaurant. He asks me to do some research to find the most suitable place.  

As this restaurant would be a high end one. People have to make reservation before coming by. So, it doesnâ€™t have to be near big shopping malls or downtown. 

However, the stakeholder explains that this restaurant must
- be near public transport facilities
- got plenty of parking lots

He has already tried **top 5 Canadian restaurants** listed by Opentable. He told me this could be considered as the profile.

## Data

Data where you describe the data that will be used to solve the problem and the source of the data.

According to the question, I need to find following data to resolve the problem.

#### 1. Stakeholder's choice

In [19]:
import pandas as pd
df_choice = pd.read_csv('restaurant.csv',index_col=[0])

In [20]:
df_choice

                               Name        lat        lon  rating
1                        Fiorentina  43.677637 -79.350097     5.0
2                    Rust Bistrobar  43.378301 -79.804040     4.0
3       HAMBRGR - Hamilton Downtown  43.257222 -79.866935     4.0
4                         The Prune  43.370426 -80.977201     3.0
5  Her Father's Cider Bar + Kitchen  43.662325 -79.404570     4.0

#### 2.  Four possible  places

I randomly chose four places from google map and get the coordinates down into the csv file.

In [36]:
df_cand = pd.read_csv('candidates.csv',index_col=[0])
df_cand

            Address        lat        lon
1    1320 King St W  43.637807 -79.432844
2   518 Dufferin St  43.646427 -79.430449
3   1360 Queen St W  43.641495 -79.433324
4  100 Starchan Ave  43.641295 -79.413892

#### 3. Nearby venues around places

It is recommended by the stakeholder that the restaurant should be surrounded by some public transport facilities. Therefore, we are going to discover the following three categories. We will use foursquare api to get those info.

In [8]:
fs_categories = {
    'Parking': '4c38df4de52ce0d596b336e1',
    'Metro Station': '4bf58dd8d48988d1fd931735',
    'bus stop': '52f2ab2ebcbc57f1066b8b4f'
}

We will use the first stakeholder's choice to testify the function of api.

In [35]:
VERSION = '20180604'
CLIENT_ID = 'FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE'
CLIENT_SECRET = 'PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C'
latitude = 43.677637
longitude = -79.350097
radius = 2000
search_query='52f2ab2ebcbc57f1066b8b4f'

In [36]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius)
url

'https://api.foursquare.com/v2/venues/search?client_id=FLSHE5WOWUI5JJPQBI1IMJBGK1KL0JX4CXV4DG2ZRQVPICQE&client_secret=PKNCMWET2QX4MY2LIZWBJVNZAB4RRD3T2QBQIJAAWUCPS35C&ll=43.677637,-79.350097&v=20180604&query=52f2ab2ebcbc57f1066b8b4f&radius=2000'

In [37]:
import requests
result = requests.get(url = url).json()
result

{'meta': {'code': 200, 'requestId': '5e041420949393001d5169c6'},
 'response': {'venues': []}}

In [ ]:
venues_nearby(cinema['Latitude'], cinema['Longitude'], 'Metro Station').head()