In [50]:
import pandas as pd

In [63]:
pd1 = pd.read_csv('candidates.csv')

In [64]:
pd1

            Address        lat        lon
0               NaN        NaN        NaN
1    1320 King St W  43.637807 -79.432844
2   518 Dufferin St  43.646427 -79.430449
3   1360 Queen St W  43.641495 -79.433324
4  100 Starchan Ave  43.641295 -79.413892

In [65]:
pd1 = pd1.drop([0])

In [66]:
pd1.to_csv('candidates.csv')

In [62]:
pd.read_csv('restaurant.csv')

   Unnamed: 0                              Name        lat        lon  rating
0           1                        Fiorentina  43.677637 -79.350097     5.0
1           2                    Rust Bistrobar  43.378301 -79.804040     4.0
2           3       HAMBRGR - Hamilton Downtown  43.257222 -79.866935     4.0
3           4                         The Prune  43.370426 -80.977201     3.0
4           5  Her Father's Cider Bar + Kitchen  43.662325 -79.404570     4.0